/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografía
4. Visuales
5. Otros
*/

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

:root{
    /*Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
/*HEADER*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(29 3% 6%) 100%);
}

header img{
    width: 150px;
    height: 60px;
    margin-top: 50px;
    align-self: center;
}

.header--tittle-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    text-align: center;
    align-self: center;
}

.header--tittle-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);   
}

.header--tittle-container p {
    margin-top: 20px;
    margin-bottom: 55px;
    font-size: 1.4rem;
    font-weight: 500%;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--tittle-container .header--button {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 270px;
    display: block;
    margin-top: 30px;
    padding: 15px;
    width: 240px;
    height: 48px;
    background-color: var(--just-white);
    /*Shadow*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('/assets/icons/down-arrow.svg');
}

/*MAIN*/
main{
    width: 100%;
    height: auto;
    background: linear-gradient(180.8deg, #dedddff1 16.69%, rgb(247, 245, 245) 100%);
    padding-bottom: 30px;
}
/*SECTION 1-2*/
.main-exchange-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 80px;
    text-align: center;
}

.main-exchange-container--tittle{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container .main-exchange-description{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--warm-black);
}
.main-tables-container {
    display: flex;
    margin: 0 42px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-currency-table,
.main-comissions-table {
    display: flex;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", "sans-serif";
    
}

.main-currency-table  .currency-table--tittle, 
.main-comissions-table .comission-table--tittle {
    margin-bottom: 15px;
    padding-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-comissions-table .comission-table--tittle {
    color: var(--secondary-blue);
}

.currency-table--container,
.comission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    
}
.currency-table--container {
    margin-left: 10px;
    padding-right: 20px;
}
.comission-table--container{
    margin-right: 50px;
    padding-left: 20px;
}
.currency-table--container table,
.comission-table--container table{
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 3px 3px rgba(58, 49, 49, 0.973);
    border-radius: 15px 15px;
}

.currency-table--container td,
.comission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.9rem;
    color: var(--off-white);
    background-color: var(--black);
}


.currency-table--container .table__top-left,
.comission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right,
.comission-table--container  .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left,
.comission-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right,
.comission-table--container .table__bottom-right{
    border-radius: 0  0 15px 0;
}
.currency-table--container .table__right,
.comission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.7rem;
    color: var(--off-white);
}

.main-exchange-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('/assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('/assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date,
.comission-table--date {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 10px;
}
.comission-table--date {
    background: #E7F5FF;
}
.currency-table--date p,
.comission-table--date p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}


/*SECTION 3 PRODUCT DETAILS*/
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    margin-top: 20px;
    text-align: center;
    background-color: var(--black);
}

.product-detail--batata-logo {
    position: absolute;
    width: 50px; 
    height: 30px;
    top: calc(0% - 12.5px);
    left: calc(50% - 20px);
    background-image: url('/assets/icons/batata.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}

.product-detail--card {
    width: 100%;
    min-width: 288px;
    max-width: 440px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #131111;
    border-radius: 5px;
    box-shadow: 0 40px 8px rgba(0, 0, 0 ,0.16);
}
/*Uso una clase para no repetir codigo,
 y se aplique a todos los iconos de las cartas*/
.product-detail--card .icon-card{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*Determinamos iconos de cada carta*/
.product-detail--card .clock {
    background-image: url("/assets/icons/clock.svg");
}
.product-detail--card .eye{
    background-image: url('/assets/icons/eye.svg');
}
.product-detail--card .dollar {
    background-image: url('/assets/icons/dollar-sign.svg');
}
.product-detail--card .checked {
    background-image: url('/assets/icons/check-circle.svg');
}
/*----- */
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}
/*SECTION 4*/
.bitcoin-img-container {
    background-image: url('/assets/img/bitcoinbaby2x.jpg');
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.plan-container {
    text-align: center;
    min-width: 320px;
}

.plan-container .plan-title {
    color: var(--black);
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding-top: 30px;
}
.plan-container .plan-title--description {
    font-size: 1.4rem;
    color: var(--warm-black);
    margin: 30px auto;
    padding: 0 15px;
}

.planes-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-table-plan-container{
    text-align: center;
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.973);
}

.main-table-plan-container .plan-basic-container {
    background: linear-gradient(180.8deg, rgb(5, 3, 3) 16.69%, rgb(12, 8, 240) 100%);
}
.main-table-plan-container .plan-recommended-container {
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(29 3% 6%) 100%);
}
.main-table-plan-container .plan-premium-container {
    background: linear-gradient(180.8deg, #141212 16.69%, hwb(281 4% 13%) 100%);
}
.main-table-plan-container .plan-basic,
.plan-recommended, .plan-premium {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 6px;
    border-radius: 8px;
    color: var(--just-white);
    background-color: var(--just-white);
}
.main-table-plan-container .plan-basic {
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(241 3% 6%) 100%);
}
.main-table-plan-container .plan-recommended {
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(29 3% 6%) 100%);
}
.main-table-plan-container .plan-premium {
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(281 4% 13%) 100%);
}

.plan-basic-container,
.plan-recommended-container,
.plan-premium-container {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.plan-basic-container .plan-title,
.plan-recommended-container .plan-title,
.plan-premium-container .plan-title  {
    margin: 0 auto;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--just-white);
}

.plan-basic-container .plan-price,
.plan-recommended-container .plan-price,
.plan-premium-container .plan-price {
    font-size: 5.3rem;
    font-weight: bold;
    padding: 5px 0;
    color: var(--just-white);
}

.plan-basic-container sup,
.plan-recommended-container sup,
.plan-premium-container sup {
    font-size: 1.5rem;
    font-weight: 300;
}
.plan-basic-container sup {
    color: var(--just-white);
}
.plan-recommended-container sup {
    color: var(--just-white);
}
.plan-premium-container sup {
    color: var(--just-white);
}

.plan-basic-container .plan-saving,
.plan-recommended-container .plan-saving,
.plan-premium-container .plan-saving  {
    font-size: 1.2rem;
    padding-bottom: 15px;
    color: var(--off-white);
}

.plan-basic-container .plan-btn--basic,
.plan-recommended-container .plan-btn--recommended,
.plan-premium-container .plan-btn--premium {
    width: 150px;
    height: 48px;
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    cursor: pointer;
    border: 2px solid #ffffff;
    color: var(--just-white);
}
.plan-basic-container .plan-btn--basic {
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(241 3% 6%) 100%);
}
.plan-recommended-container .plan-btn--recommended{
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(29 3% 6%) 100%);
}
.plan-premium-container .plan-btn--premium {
    background: linear-gradient(180.8deg, #050303 16.69%, hwb(281 4% 13%) 100%);
}

.plan-btn--basic .btn-icon--basic,
.plan-btn--recommended .btn-icon--recommended,
.plan-btn--premium .btn-icon--premium {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

/*FOOTER*/
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer .social-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .social-container ul {
    padding: 40px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    list-style: none;
}
footer .social-container li {
    padding: 5px;
}
footer a {
    color: var(--just-white);
    text-decoration: none;
}

footer .img-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--just-white);
}

footer .img-container img {
    width: 60px;
    height: 30px;
}